img {
    height: 500px; 
    width: 500px; 
}

body {
    text-align: center;
}

h3 {
    margin-top: 50px; 
}

.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: navy; 
    font-size: 20px;
    
}